/*no anda
        body{
            background-image: url("imagenes-html/background1.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: scroll;
        }
        */
#titulo{
    color: rgb(2, 5, 12);
}

a:link, a:visited{
    color: #0000FF;
}
a:hover{
    font-size: 1.4em;
}

form {
    display: block;
    margin-top: 5em;
}

div{
    background-color: rgba(0,0,22,0.2);
    border: 2px solid rgba(13, 73, 62, 0.99);
    margin: 10px 50px;
    padding: 10px;
    box-shadow: 5px 5px #044b50;

}

.imagenes{
    margin: 15px 175px;
    border-radius: 8px;

}

.link1, .link2, .link3{
    margin: 13px 450px;
    border-radius: 10px;
}

.cuerpopagina{
    text-align: center;
    font-family: 'Merriweather', serif;
    background: linear-gradient(to right, #89fff5, #279fb2);
}

h1, h2, h3{
    text-shadow: 1px 1px #3f4264;
}