a:link, a:visited{
    color: #0000FF;
}

a:hover{
    font-size: 1.4em;
}

form{
    width: 45%;
}

.tit4{
    text-align: center;
    border: 2px solid #410c02;
    margin: 10px 300px;
    padding: 10px;
    box-shadow: -5px 5px #410c02;
    text-shadow: -1px 1px #3f4264;
}

.titulo4{
    color: rgb(2, 5, 12);
    text-align: center;
    border: 2px solid #410c02;
    border-radius: 15px;
    margin: 10px 100px;
    padding: 10px;
    box-shadow: -5px 5px #410c02;
    text-shadow: -1px 1px #3f4264;
    -webkit-transition: width 2s;
}

div{
    background-color: rgba(0,0,22,0.2);
    border: 2px solid #410c02;
    margin: 1px 120px;
    padding: 10px;
    box-shadow: -5px 5px #410c02;
    -webkit-transition: width 2s; /*Para safari*/
}

.cuerpopagina4{
    text-align: center;
    font-family: 'Merriweather', serif;
    background: linear-gradient(to left, #fcb2a2, #b66a58);
    margin: 13px 30px;
    text-shadow: -1px 1px #3f4264;
    -webkit-transition: width 2s;
}

.formu1{
    text-align: left;
    margin: 20px 20px;
    border-radius: 15px;
}

.formu2{
    background-color: #ffffff;
    margin: 13px 20px;
    border: 2px solid #030303;
}

.formu3{
    text-align: left;
    margin: 13px 20px;
    border-radius: 15px;
}

.enviar{
    background-color: #facdb1;
}

.restablecer{
    background-color: #fcad95;
}

.volver4{
    margin: 13px 470px;
    border-radius: 15px;
    text-shadow: 1px 1px #3f4264;
}