#titulo2{
    color: rgb(2, 5, 12);
}

a:link, a:visited{
    color: #0000FF;
}

a:hover{
    font-size: 1.4em;
}

form{
    display: block;
    margin-top: 5em;
}

.tit3{
    margin: 15px 435px;
    box-shadow: -5px 5px #410c02;
    text-shadow: 1px 1px #3f4264;
}

div{
    background-color: rgba(0,0,22,0.2);
    border: 2px solid #410c02;
    margin: 10px 50px;
    padding: 10px;
    box-shadow: -5px 5px #410c02;

}

.cuerpopagina3{
    text-align: center;
    font-family: 'Merriweather', serif;
    background: linear-gradient(to left, #f8f58b, #b4b25c);
}

.imagen1, .imagen2{
    margin: 12px 235px;
}

.volver3{
    margin: 13px 490px;
    border-radius: 15px;
    text-shadow: 1px 1px #3f4264;
}