#titulo4{
    color: rgb(2, 5, 12);
}

a:link, a:visited{
    color: #0000FF;
}

a:hover{
    font-size: 1.4em;
}

form{
    width: 70%;
}

div{
    background-color: rgba(0,0,22,0.2);
    border: 2px solid #410c02;
    margin: 0px 120px;
    padding: 10px;
    box-shadow: 5px 5px #410c02;

}

.tit4{
    text-align: left;
    margin: 45px 435px;
    border-radius: 0px;
    text-shadow: 1px 1px #3f4264;
}

.imagen1, .imagen2, .imagen3{
    margin: 15px 235px;
    border-radius: 8px;

}

.cuerpopagina4{
    text-align: center;
    font-family: 'Merriweather', serif;
    background: linear-gradient(to right, #d2d2d2, #595959);
}

.volver4{
    margin: 13px 480px;
    border-radius: 15px;
}
